{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="form-container center-container register_main" style="height: 400px;">
        <h1>Munros loading...</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }} {{ form.password }}
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-primary btn-style">Login</button>
            </div>
        </form>
        <p class="basic-text">
        Not registered? Create an account and start tracking your Munros today!
        <a href="{% url 'registration_register' %}" class="basic-link">Register here!</a>
        </p>
    </div>
{% endblock %}
