{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="form-container center-container register_main" style="height: 600px;">
    <h1>Create Your Account</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <button type="submit" class="btn-primary btn-style">Register</button>
        </div>
    </form>
    <p class="basic-text">Already registered? 
        <a href="{% url 'login' %}" class="basic-link">Login here!</a>
    </p>
</div>
{% endblock %}
