<!DOCTYPE html>
<html>
    <section class="long-text">
        <p>
            A Munro is a Scottish mountain over 914.4 m (3,000 feet), a definition first formalised in 1891 by Sir Hugh Munro, 
            who created the original list of these peaks. There are 282 Munros today, scattered across the Highlands and forming many of Scotland’s most dramatic 
            and recognisable landscapes.<br/>
            They’re important because they’ve become a core part of Scotland’s outdoor culture. Climbing them — known as Munro‑bagging, our name-sake — is a long‑standing 
            tradition that challenges walkers to explore remote glens, ridges, and summits across the country. Completing all 282 is considered a major 
            achievement and has shaped how generations engage with Scotland’s mountains.<br/>
            The history goes back to Sir Hugh Munro’s first tables, which transformed scattered mountain knowledge into a structured list and sparked a century‑long 
            climbing movement. Since then, the list has been updated several times, but its spirit remains the same: a celebration of Scotland’s high places and the 
            people who venture into them.<br/>
            Learn more about Scotland's munro safety through the <a href="https://www.walkhighlands.co.uk/safety/" class="basic-link" target="_blank" rel="noopener noreferrer">walk highlands</a> site.
        </p>
    </section>
</html>