:root{
    --dark-blue: #234473;
    --medium-blue: #4D86BB; 
    --blue: #7AACD3;
    --light-blue: #A3CAE1;
    --main-font: 'Calistoga', serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
}

body {
    background-color: var(--dark-blue);
    background-image: url('/static/images/munros_homepage_picture.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
}


h1 {
    color: #FFFFFF;
    font-family: var(--main-font);
    font-size: 100px;
    letter-spacing: 4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    color: #FFFFFF;
    font-family: var(--main-font);
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

/* adjust the padding for the boxes */
.box-munros {
    background-color: var(--blue);
    padding: 5%;
    padding-top: 50px;
}

.box-multiple {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    padding-top: 5px;
    margin-bottom: 50px;
}