<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>The Munro Bag</title>

      <!--importing google fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&display=swap" rel="stylesheet">
        
      <!--Bootstrap coreCSS-->
      <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css"
      rel="stylesheet">

      <!-- CSS loaded -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">

      <!-- favicon website tab logo  -->
       <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>

  <body class="main-body {% block body_class %}{% endblock %}">
      <!-- nav bar -->
      {% if user.is_authenticated %}
      <div class="nav-menu">
              <a href="/" class="logo">
                  <p class="center-text">MB</p>
              </a>
              <!-- nav modal -->
              <div id="menuLinks" class="nav-modal">
                <span class="close nav-close">&times;</span>
                <div class="modal-links">
                    <a href="/" class="nav-links">Home</a>
                    <a href="/munros/" class="nav-links">Munros</a>
                    
                    <a href="/profile/" class="nav-links">My Profile</a>
                    <a href="/logout/" class="nav-links">Logout</a>
                </div>  
              </div>
              <button class="icon nav-btn" id="menuToggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list nav-bar" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
              </button>
      </div>
      {% endif %}
      <main>
          {% block content %}
          {% endblock %}
      </main>
        
      <!--Bootstrap coreJavaScript-->
      <!--Placed at theendofthedocument sothepagesloadfaster-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script>
          window.jQuery || document.write('<scriptsrc="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
      </script>
      <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js">
      </script>
      <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js">
      </script>
    {% block scripts %}
    <script src="{% static 'js/main_script.js' %}" defer></script>
    <script>    
        window.addEventListener('DOMContentLoaded', () => {
            logoColour();
            mountainTris();
            navColour();
        });
    </script>
    {% endblock %}    
  </body>
</html>
