<!DOCTYPE html>

<html>
    <head>
        <title>Munro Bag User Profile</title>
        <!--importing google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
        <!--connecting our styles css sheet-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <h1>User Profile</h1>
    </body>
</html>