<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        {% block base_block %}
            <title>The Munro Bag</title>
            <!--importing google fonts-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
            <!--connecting our styles css sheet-->
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% endblock %}
    </head>
</html>