{% extends "base.html" %}
{% load staticfiles %}

<!-- <html>
    <head>
        <title>The Munro Bag</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css"
        rel="stylesheet">


        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head> -->
    {% block content %}
    <div>

        <h1 class="center-container h1-homepage">The Munro Bag</h1>
        
        <div class="flex-container">
            <div class="box-munros">
                <h2 style="letter-spacing: 18px;">Scotland's</h2>
                <br />
                <h2 style="letter-spacing: 4px;">Highest  Munros</h2>
                <!-- styling the highest munros -->
                {% if top_munros %}
                    {% for m in top_munros %}
                    <div>{{ m.name }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div style="width:40%; column-gap: 10%;">
                <div class="box-multiple" style="background-color: #4D86BB;">
                    <h2>About Munros</h2>
                </div>
                <div class="box-multiple" style="background-color: #A3CAE1;">
                    <h2>User Information</h2>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

