<!DOCTYPE html>


<html>
    <head>
        <title>The Munro Bag Login Page</title>
        <!--importing google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

        <!--Bootstrap coreCSS-->
        <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css"
        rel="stylesheet">

        <!--connecting our styles css sheet-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
  <body>

  </body>
</html>

