<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Munro Bag User Profile</title>
        <!--importing google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
        <!--connecting our styles css sheet-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <h1>User Profile</h1>
        <div>{{ user.username }}</div>
        <div>Total climbed: {{ total_climbed }}</div>
        {% for c in climbs %}
        <div>{{ c.munro.name }} {{ c.climb_date }}</div>
        {% endfor %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save</button> 
        </form>
    </body>
</html>
